<!DOCTYPE html>
<html>
<head>
<title>Blog Platform</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">New Post</a></li>
    </ul>
    </nav>
    <h1>Welcome to the Blog Platform!</h1>
</header>
<main>
    <% blogPosts.forEach(blogPost => { %>
    <article>
        <h2><a href="/views/post.ejs"><%= blogPost.title %></a></h2>
        <p><%= blogPost.content.substring(0, 100) %>...</p>
        <p><%= blogPost.date.toDateString() %></p>
    </article>
    <% }) %>
</main>
<footer>
    <p>© 2023 Blog Platform</p>
</footer>
<script src="/js/scripts.js"></script>
</body>
</html>
